[Unit]
Description=dyndnscli

[Service]
Type=simple
PIDFile=/run/dyndnsCli.pid
ExecStart=/usr/bin/java -jar /home/cola/sandbox/DynDnsNginx/client/Release/client-0.0.1-SNAPSHOT.jar
User=root
Group=root
WorkingDirectory=/home/cola/sandbox/DynDnsNginx/client/Release
StandardOutput=/var/log/dyndnsCli.log
StandardError=/var/log/dyndnsCli_err.log
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target